.imagecontainer img{ 
height:400px;
width:1380px;
}

.imagetext{
position:absolute;
font-size:40px;
font-weight:bold;
color:white;
right:45%;
top:40%;
font-family:"consolas";

}



.navbar{
position:absolute;
right:40%;
top:60%;
text-align:center;
}

.navbar a{
color:yellow;
cursor:pointer;
text-decoration:none;
margin-right:30px;
font-size:20px;
font-family:"courier new";
font-weight:bold;


}
.content{
padding:20px;
display:none;

}

#shop{
	display:block;
}

.products{

width:200px;
height:200px;
border:1px solid red;

}


#image{


	height:200px;
	width:200px;
text-align:center;
}
p{

	font-family:"consolas";
	font-size:30px;
	font-weight:bold;
	color:black;

}
button{
color:black;
background-color:yellow;
font-family:"consolas";
font-size:20px;
margin:10px;
padding:10px;
border:2px solid black;
}

